
@{
    ViewBag.Title = "Unauthorize";
    ViewBag.NavOverview = "w3-blue";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="w3-container w3-padding-16">
    <div class="col-md-10 col-md-offset-1 text-center">
        <div class="w3-panel">
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-third">
                    <h3>Unauthorized Access</h3>
                    <img src="~/images/access_denied.png" style="width:100%" alt="Access denied">
                </div>
            </div>
        </div>
    </div>
</div>